<!DOCTYPE html>
<html>
<head>
  <title>Edit Teacher Data</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="masthead">
    <h1>Edit Teacher Data</h1>
    <nav>
      <%- include('../nav/navbar') %>
      <a href="/user_game">Show All Data</a>
    </nav>
  </div>
  <%
  if(err !== null && err !== undefined) {
  %>
  <div class="error">
    <%=err%>
  </div>
  <%
  }
  %>
  <div class="form-center">
    <form action="/user_game/edit/<%=user_game.id%>" method="post">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" value="<%=user_game.firstName%>">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" value="<%=user_game.lastName%>">
      <label for="email">Email</label>
      <input type="text" name="email" value="<%=user_game.email%>">
      <input type="submit" value="Edit user_game">
    </form>
  </div>  
</body>
</html>